@import 'https://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,cyrillic';
html {
  -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }

a {
  text-decoration: none;
  }

li {
  list-style: none;
  }
  
.body {
  font-family: 'Ubuntu', serif;
  font-size: 1rem;
  background: #00f;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}

.code-check {
  padding: 30px 0;
  border-top: 1px solid #fff;
  width: 920px;
}

.todo {
  padding: 30px 0;
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text-editor {
  padding: 30px 0;
  border-top: 1px solid #fff;
}

.wrapper {
  padding: 30px 0;
  border-top: 1px solid #fff;
}